@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    margin: auto;
    font-family: 'Work Sans', sans-serif;
}

/* navigation section */
.nav-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.logo h2 {
    font-size: 1.5em;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* navigation area end */

